@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1rem;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column; }

h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", Arial; }

h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 5px; }

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 5px;
  margin-bottom: 5px; }

h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  margin-top: 10px; }

p, .content ol li {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;}

.textcaption {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #5c5c5c;
  padding-bottom: 20px; }

/* Index */
.scrollsection {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto; }

.photosizesection {
  height: 100vh;
  position: relative;
  display: inline-block;
  background-color: white;
  overflow: hidden;
  display: flex;
  scroll-snap-align: start; }

.photosizesection img {
  object-position: left;
  max-height: 100%;
  min-width: 100%;
  object-fit: cover; }

.titlecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center; }

.shoots {
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  scroll-snap-align: start; }

.shootlist {
  border-spacing: 0px 3px;
  margin-top: 5%;
  min-width: 20px;
  width: auto;
  align-items: center; }

.shootlist a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", Arial;
  font-weight: 400;
  font-size: 14; }

.shootlist th {
  text-align: right; }

.shootlist td {
  text-align: left;
  padding-left: 50px; }

tr:hover a { color: #5c5c5c; }


/* Work */
.sidebar {
  position: fixed;
  display: flex;
  justify-content: space-between; }

.sidebarcontents {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  border-spacing: 20px 1px;
  width: 250px; }

.sidebarcontents a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", Arial;
  font-weight: 400;
  font-size: 14; }

.sidebarcontents tr a:hover {
  color: #5c5c5c; }

.sidebarcontents tr a:active {
  color: #5c5c5c; }

.scrollsection {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: auto; }

.neutersection {
  height: 100vh; }

.writingsection {
  height: 100vh;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 50px;
  scroll-snap-align: start; }

.writingsection img {
  float: left;
  max-height: 100%;
  max-width: 100%;
  margin-right: 200px; }

.writingsection a {
  text-decoration: none;
  font-size: 15px;
  color: #5c5c5c; }

.photosection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding-left: 25%;
  padding-right: 15%;
  scroll-snap-align: start; }

.photobox {
  max-width: 100%;
  height: 90%;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  object-fit: cover; }

.photobox a {
  max-height: 85%;
  height: auto;
  max-width: 100%;
  width: auto; }

.photobox img {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: auto; }

.photobox p {
  margin-top: 5px; }
